<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ExportRDF2N3/src/fi/ni/nodenamer/ExportRDF2N3.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fi.ni.nodenamer.ExportRDF2N3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ExportRDF2N3"/>
</launchConfiguration>
