<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AlgSignFromPseudo/src/fi/ni/NodeAlgSignRun.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fi.ni.NodeAlgSignRun"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AlgSignFromPseudo"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms8560M -Xmx12120M"/>
</launchConfiguration>
