<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Algorithm_RDFTopoDiff/src/fi/ni/RDFTopoDiff.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fi.ni.RDFTopoDiff"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Algorithm_RDFTopoDiff"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms5560M -Xmx10120M -verbose:gc"/>
</launchConfiguration>
